workflows/router_workflow.json
{
  "name": "Router Workflow",
  "id": "61KAx6PJqYvaM2ai",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "O81djDHosPhx6jYW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/session",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ String($json.message.chat.id) }}"
            }
          ]
        }
      },
      "id": "get-session",
      "name": "Get Session State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const text = $('Telegram Trigger').first().json.message?.text?.trim() || '';\nconst chat_id = String($('Telegram Trigger').first().json.message?.chat?.id);\nconst active_agent = $('Get Session State').first().json.active_agent || 'gym';\n\nlet route = active_agent;\nlet isCommand = false;\nlet newAgent = null;\nlet replyText = '';\n\nif (text.toLowerCase().startsWith('/gym')) {\n  route = 'gym';\n  isCommand = true;\n  newAgent = 'gym';\n  replyText = '💪 Switched to Gym Agent! How can I help with your fitness today?';\n} else if (text.toLowerCase().startsWith('/finance') || text.toLowerCase().startsWith('/expense')) {\n  route = 'finance';\n  isCommand = true;\n  newAgent = 'finance';\n  replyText = '💰 Switched to Finance Agent! What would you like to track?';\n} else if (text.toLowerCase().startsWith('/news')) {\n  route = 'news';\n  isCommand = true;\n  newAgent = 'news';\n  replyText = '📰 Switched to News Agent! What do you want to search for?';\n} else if (text.toLowerCase().startsWith('/dsa')) {\n  route = 'dsa';\n  isCommand = true;\n  newAgent = 'dsa';\n  replyText = '👨‍💻 Switched to DSA Agent! Ready for some interview prep?';\n}\n\nreturn { json: { route, text, chat_id, isCommand, newAgent, replyText } };"
      },
      "id": "code-router",
      "name": "Determine Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isCommand }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-command",
      "name": "Is Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/session",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $json.chat_id }}\",\n  \"active_agent\": \"{{ $json.newAgent }}\"\n}"
      },
      "id": "set-session",
      "name": "Save New Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Determine Route').first().json.chat_id }}",
        "text": "={{ $('Determine Route').first().json.replyText }}"
      },
      "id": "reply-command",
      "name": "Reply Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "O81djDHosPhx6jYW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.route }}",
              "operation": "equal",
              "value2": "finance"
            }
          ]
        }
      },
      "id": "if-finance",
      "name": "Is Finance Agent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "45YW57REvMW23HuF"
      },
      "id": "execute-finance",
      "name": "Execute Finance Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": "PFbwrxtyQDenaHhi"
      },
      "id": "execute-gym",
      "name": "Execute Gym Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.route }}",
              "operation": "equal",
              "value2": "news"
            }
          ]
        }
      },
      "id": "if-news",
      "name": "Is News Agent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        500
      ]
    },
    {
      "parameters": {
        "workflowId": "NOb3BMQIWJJs0fKy"
      },
      "id": "execute-news",
      "name": "Execute News Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1000,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.route }}",
              "operation": "equal",
              "value2": "dsa"
            }
          ]
        }
      },
      "id": "if-dsa",
      "name": "Is DSA Agent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        700
      ]
    },
    {
      "parameters": {
        "workflowId": "VwKsTBRvIqo5vleR"
      },
      "id": "execute-dsa",
      "name": "Execute DSA Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1000,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Determine Route').first().json.chat_id }}",
        "text": "={{ ($json.output || $json.text || 'Done!').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\\*\\\\*(.*?)\\\\*\\\\*/g, '<b>$1</b>').replace(/\\\\[(.*?)\\\\]\\\\((.*?)\\\\)/g, '<a href=\\\"$2\\\">$1</a>').replace(/`(.*?)`/g, '<code>$1</code>') }}",
        "additionalFields": {
          "parseMode": "HTML"
        }
      },
      "id": "send-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "O81djDHosPhx6jYW",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get Session State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session State": {
      "main": [
        [
          {
            "node": "Determine Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Route": {
      "main": [
        [
          {
            "node": "Is Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Command?": {
      "main": [
        [
          {
            "node": "Save New Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Finance Agent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save New Session": {
      "main": [
        [
          {
            "node": "Reply Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Finance Agent?": {
      "main": [
        [
          {
            "node": "Execute Finance Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is News Agent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is News Agent?": {
      "main": [
        [
          {
            "node": "Execute News Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is DSA Agent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is DSA Agent?": {
      "main": [
        [
          {
            "node": "Execute DSA Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Gym Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Finance Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute News Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute DSA Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Gym Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}