workflows/wishlist_monitor_workflow.json
{
  "name": "Wishlist Monitor Background Task",
  "id": "vLYvCDMgnZMlXFiA",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "hours", "hoursInterval": 12 } ] } },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 0, 300 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/finance/wishlist",
        "json": true
      },
      "id": "fetch-wishlists",
      "name": "Fetch Wishlists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 200, 300 ]
    },
    {
      "parameters": { "fieldToSplitOut": "data", "options": {} },
      "id": "item-lists",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [ 400, 300 ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "fetch-website",
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 600, 300 ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [ { "key": "price", "cssSelector": ".a-price-whole", "returnValue": "text" } ]
        },
        "options": {}
      },
      "id": "extract-price",
      "name": "Extract Price",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [ 800, 300 ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            { "value1": "={{ parseFloat($json.price || '999999') }}", "operation": "smaller", "value2": "={{ parseFloat($node['Item Lists'].json.target_price) }}" }
          ]
        }
      },
      "id": "check-price-drop",
      "name": "Check Price Drop",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 1000, 300 ]
    },
    {
      "parameters": {
        "chatId": "={{ $node['Item Lists'].json.chat_id }}",
        "text": "=🚨 PRICE DROP ALERT! 🚨\n\nYour tracked item '{{$node['Item Lists'].json.item_name}}' has dropped to ${{$json.price}}! \n\nTarget Price: ${{$node['Item Lists'].json.target_price}}\n\nBuy it here: {{$node['Item Lists'].json.url}}"
      },
      "id": "send-alert",
      "name": "Send Alert via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 1200, 200 ],
      "credentials": { "telegramApi": { "id": "telegram-api-credential-id", "name": "Telegram Bot Token" } }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{"node": "Fetch Wishlists", "type": "main", "index": 0}]] },
    "Fetch Wishlists": { "main": [[{"node": "Item Lists", "type": "main", "index": 0}]] },
    "Item Lists": { "main": [[{"node": "Fetch Website", "type": "main", "index": 0}]] },
    "Fetch Website": { "main": [[{"node": "Extract Price", "type": "main", "index": 0}]] },
    "Extract Price": { "main": [[{"node": "Check Price Drop", "type": "main", "index": 0}]] },
    "Check Price Drop": { "main": [[{"node": "Send Alert via Telegram", "type": "main", "index": 0}]] }
  }
}
